<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CineMaster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/search']" routerLinkActive="active">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="active">About Us</a>
            </li>
        </ul>
        
        <ul class="navbar-nav mr-auot">
            <li class="nav-item" style="margin-right: 20px;">
                <a *ngIf="!nombre;else other_content" [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Login</a>
                <ng-template #other_content>
                    <p class="nav-link" style="color: white; margin: 0;">Hola <strong>{{nombre}}</strong></p>
                </ng-template>
            </li>
        </ul>
    </div>
</nav>