<main>
    <section class="hero">
        <div class="container">
            <h1>
                Hola! Soy <strong>Camilo Davila</strong><br> estudiante en<strong> Bictia</strong> con <br> animo
                de <strong>aprender</strong>
            </h1>
            <img class="hero-image" alt="Logo de la empresa" src="./../../../../assets/camilo.jpeg" width="500px"
                height="300px">
        </div>
    </section>

    <section class="about-me">
        <div class="container">
            <h2>Acerca de mi</h2>
            <div class="contenedor-info">
                <div class="contenedor-izquierdo">
                    <article class="universidad">
                        <div class="universidad-details">
                            <h3 class="universidad-title">Ingeniero Electronico</h3>
                            <h6 class="universidad-course">Universidad el Bosque</h6>
                            <p class="universidad-date"><small><strong>Fecha</strong> 20/02/2020</small></p>
                            <p class="universidad-escription">
                                Un profesional emprendedor, comprometido con la protección del entorno, que trabaja
                                por una sociedad responsable y sostenible; da soluciones eficientes y contextualizadas
                                en las áreas de las telecomunicaciones, automatismos industriales y equipos médicos, por
                                medio de diseños de sistemas integrales desde la electrónica.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="contenedor-derecho">
                    <article class="universidad">
                        <div class="universidad-details">
                            <h3 class="universidad-title">Desarrollador FullStack</h3>
                            <h6 class="universidad-course">Bictia</h6>
                            <p class="universidad-date"><small><strong>Fecha</strong> 27/04/2020</small></p>
                            <p class="universidad-escription">
                                Un profesional emprendedor, comprometido con la protección del entorno, que trabaja
                                por una sociedad responsable y sostenible; da soluciones eficientes y contextualizadas
                                en las áreas de las telecomunicaciones, automatismos industriales y equipos médicos, por
                                medio de diseños de sistemas integrales desde la electrónica.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>